<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Suite1">
	<listeners>
		<listener class-name="Utility.Listener">
		</listener>
	</listeners>
   <test name = "Scenario1">
      <classes>
         <class name = "TestScript.Scenario1" />
      </classes>
   </test>
</suite> 